In [ ]:
import numpy as np
import pandas as pd

In [ ]:
sales = pd.read_csv("/content/drive/MyDrive/BrainyBeam/Sales.csv")
sales

    Months  Sales
0        1    500
1        2    700
2        3    950
3        4   1000
4        5   1200
5        6   1500
6        7   1950
7        8   2000
8        9   2200
9       10   2500
10      11   3000

In [ ]:
x = sales["Months"]
y = sales["Sales"]
print(x.shape)
print(y.shape)

(11,)
(11,)

In [ ]:
x = sales.iloc[:, : -1]
y = sales.iloc[:, 1]
print(x.shape)
print(y.shape)

(11, 1)
(11,)

In [ ]:
import sklearn
from sklearn.model_selection import train_test_split

xtrain, xtest, ytrain, ytest = train_test_split(x, y, test_size = 0.7, random_state = 0)

In [ ]:
from sklearn.linear_model import LinearRegression

lin = LinearRegression()
lin.fit(xtrain, ytrain)
ypred = lin.predict(xtest)
print(ypred)

[1263.15789474 2250.          868.42105263 2447.36842105 1657.89473684
  671.05263158 1855.26315789 2052.63157895]

In [ ]:
lin.coef_

array([197.36842105])

In [ ]:
lin.intercept_

276.31578947368405

In [ ]:
from sklearn.metrics import r2_score

acc = r2_score(ypred, ytest)
print(acc*100)

82.60448896308668