In [1]:
#import necessary libraries and load the dataset

import pandas as pd
import numpy as np

rating = pd.read_csv(r"C:\Users\hp\Downloads\cloths-rating.csv")
rating.head()

,ProductID,UserID,Rating,Text
0,777,AV1YnR7wglJLPUi8IJmi,4,Great taffy at a great price.
1,767,AVpfpK8KLJeJML43BCuD,4,Absolutely wonderful - silky and sexy and comf...
2,1080,AVqkIdntQMlgsOJE6fuB,5,Love this dress! it's sooo pretty.
3,1077,AVpfpK8KLJeJML43BCuD,3,I had such high hopes for this dress and reall...
4,1049,AVpfpK8KLJeJML43BCuD,5,"I love, love, love this jumpsuit. it's fun, fl..."

In [2]:
print(rating["UserID"].nunique())
print(rating["ProductID"].nunique())

42
27

In [3]:
rating.isnull().sum()

ProductID    0
UserID       0
Rating       0
Text         0
dtype: int64

In [4]:
# give sentiment score to text based on text and create new column for sentiment score in dataset

from textblob import TextBlob

def sentiment_score(text):
    try:
        return TextBlob(str(text)).sentiment.polarity
    except:
        return None

rating["Sentiment"] = rating["Text"].apply(sentiment_score)
rating.head()

,ProductID,UserID,Rating,Text,Sentiment
0,777,AV1YnR7wglJLPUi8IJmi,4,Great taffy at a great price.,0.800000
1,767,AVpfpK8KLJeJML43BCuD,4,Absolutely wonderful - silky and sexy and comf...,0.633333
2,1080,AVqkIdntQMlgsOJE6fuB,5,Love this dress! it's sooo pretty.,0.437500
3,1077,AVpfpK8KLJeJML43BCuD,3,I had such high hopes for this dress and reall...,0.120000
4,1049,AVpfpK8KLJeJML43BCuD,5,"I love, love, love this jumpsuit. it's fun, fl...",0.550000

In [5]:
# apply multiplication between ratings and sentiment

rating["updated_score"] = rating["Rating"]*rating["Sentiment"]
rating.head()

,ProductID,UserID,Rating,Text,Sentiment,updated_score
0,777,AV1YnR7wglJLPUi8IJmi,4,Great taffy at a great price.,0.800000,3.200000
1,767,AVpfpK8KLJeJML43BCuD,4,Absolutely wonderful - silky and sexy and comf...,0.633333,2.533333
2,1080,AVqkIdntQMlgsOJE6fuB,5,Love this dress! it's sooo pretty.,0.437500,2.187500
3,1077,AVpfpK8KLJeJML43BCuD,3,I had such high hopes for this dress and reall...,0.120000,0.360000
4,1049,AVpfpK8KLJeJML43BCuD,5,"I love, love, love this jumpsuit. it's fun, fl...",0.550000,2.750000

In [6]:
# make userid into normal form

from sklearn import preprocessing
le = preprocessing.LabelEncoder()
rating["UserID"] = le.fit_transform(rating["UserID"])
rating.head()

,ProductID,UserID,Rating,Text,Sentiment,updated_score
0,777,0,4,Great taffy at a great price.,0.800000,3.200000
1,767,3,4,Absolutely wonderful - silky and sexy and comf...,0.633333,2.533333
2,1080,13,5,Love this dress! it's sooo pretty.,0.437500,2.187500
3,1077,3,3,I had such high hopes for this dress and reall...,0.120000,0.360000
4,1049,3,5,"I love, love, love this jumpsuit. it's fun, fl...",0.550000,2.750000

In [7]:
# make function to classify updated score

class_dict = {"1": [-5.0, -4.75, -4.5, 4.25, -4, -3.75, -3.5, -3.25],
       "2": [-3, -2.75, -2.5, -2.25, -2, -1.75, -1.5, -1.25],
       "3": [-1, -0.75, -0.5, -0.25, 0, 0.25, 0.5, 0.75],
       "4":[1, 1.25, 1.5, 1.75, 2, 2.25, 2.5, 2.75],
       "5": [3, 3.25, 3.5, 3.75, 4, 4.25, 4.5, 4.75, 5]}

def fun(val):
    for i in class_dict:
        if val >= class_dict[i][0] and val <= class_dict[i][-1]:
            return int(i)

print(fun(4))

5

In [8]:
# apply function to updated score and create new column new score

rating["new_score"] = rating["updated_score"].apply(fun)
rating["new_score"] = pd.to_numeric(rating["new_score"])
rating.head()

,ProductID,UserID,Rating,Text,Sentiment,updated_score,new_score
0,777,0,4,Great taffy at a great price.,0.800000,3.200000,5.0
1,767,3,4,Absolutely wonderful - silky and sexy and comf...,0.633333,2.533333,4.0
2,1080,13,5,Love this dress! it's sooo pretty.,0.437500,2.187500,4.0
3,1077,3,3,I had such high hopes for this dress and reall...,0.120000,0.360000,3.0
4,1049,3,5,"I love, love, love this jumpsuit. it's fun, fl...",0.550000,2.750000,4.0

In [9]:
# Pivot table of ProductID, UserID and New_score

rating_pivot = pd.pivot_table(rating, index = "ProductID", columns = "UserID", values = "new_score").fillna(0)
rating_pivot

UserID,0,1,2,3,4,5,6,7,8,9,...,32,33,34,35,36,37,38,39,40,41
ProductID,,,,,,,,,,,,,,,,,,,,,
89,0.0,0.00,0.000000,4.0,0.0,0.0,5.0,3.000000,3.000000,0.0,...,0.000000,4.0,0.000000,0.0,0.000000,4.000000,0.000000,0.0,0.000000,4.250000
333,0.0,3.50,0.000000,0.0,0.0,0.0,0.0,0.000000,4.666667,3.0,...,0.000000,2.0,3.666667,0.0,0.000000,3.333333,0.000000,0.0,0.000000,0.000000
369,5.0,3.00,0.000000,4.0,0.0,4.0,5.0,4.000000,0.000000,0.0,...,0.000000,0.0,0.000000,0.0,0.000000,0.000000,2.666667,0.0,5.000000,0.000000
444,3.0,3.00,0.000000,0.0,3.0,0.0,4.0,5.000000,3.000000,0.0,...,4.000000,0.0,4.000000,0.0,0.000000,3.666667,0.000000,0.0,4.333333,0.000000
684,0.0,0.00,4.000000,4.5,3.0,0.0,3.0,4.000000,3.000000,0.0,...,4.000000,0.0,4.000000,0.0,0.000000,0.000000,0.000000,0.0,0.000000,3.666667
697,0.0,3.00,3.000000,0.0,0.0,0.0,5.0,0.000000,3.000000,3.0,...,5.000000,4.0,4.000000,0.0,0.000000,0.000000,0.000000,0.0,0.000000,4.000000
767,3.0,0.00,0.000000,4.0,0.0,0.0,3.0,0.000000,0.000000,0.0,...,0.000000,3.0,0.000000,0.0,4.000000,0.000000,3.000000,3.0,0.000000,0.000000
777,5.0,0.00,0.000000,0.0,0.0,0.0,3.0,0.000000,0.000000,0.0,...,0.000000,3.0,0.000000,0.0,0.000000,0.000000,5.000000,0.0,0.000000,0.000000
823,0.0,0.00,0.000000,5.0,0.0,0.0,5.0,3.000000,0.000000,0.0,...,0.000000,5.0,0.000000,0.0,0.000000,5.000000,0.000000,0.0,0.000000,3.000000
847,0.0,0.00,0.000000,4.0,0.0,0.0,4.0,4.000000,5.000000,0.0,...,0.000000,4.0,0.000000,0.0,5.000000,0.000000,0.000000,4.0,0.000000,3.000000
853,0.0,0.00,3.000000,0.0,0.0,0.0,3.0,0.000000,0.000000,0.0,...,0.000000,0.0,0.000000,0.0,2.000000,0.000000,0.000000,4.0,0.000000,0.000000
858,0.0,0.00,0.000000,0.0,5.0,0.0,4.0,3.666667,4.000000,5.0,...,0.000000,0.0,0.000000,0.0,0.000000,0.000000,0.000000,5.0,0.000000,0.000000
862,3.5,4.00,0.000000,0.0,4.0,0.0,3.5,3.000000,4.000000,0.0,...,3.666667,4.0,5.000000,0.0,0.000000,4.500000,0.000000,0.0,0.000000,0.000000
910,0.0,4.00,0.000000,0.0,0.0,0.0,0.0,4.000000,5.000000,0.0,...,0.000000,4.5,5.000000,0.0,0.000000,3.000000,0.000000,0.0,0.000000,0.000000
949,4.0,3.75,4.000000,0.0,0.0,0.0,3.0,0.000000,4.250000,0.0,...,4.000000,0.0,0.000000,0.0,0.000000,0.000000,0.000000,0.0,0.000000,3.500000
1002,5.0,5.00,3.000000,0.0,0.0,0.0,3.0,0.000000,0.000000,0.0,...,3.000000,0.0,4.000000,0.0,0.000000,0.000000,0.000000,0.0,0.000000,0.000000
1003,0.0,0.00,0.000000,0.0,0.0,0.0,3.0,0.000000,4.000000,0.0,...,4.000000,0.0,0.000000,0.0,0.000000,0.000000,0.000000,0.0,0.000000,0.000000
1049,4.0,4.00,0.000000,4.0,0.0,0.0,0.0,0.000000,0.000000,0.0,...,0.000000,0.0,0.000000,0.0,0.000000,0.000000,0.000000,0.0,0.000000,0.000000
1060,3.5,4.00,3.333333,0.0,3.0,0.0,0.0,4.000000,4.000000,0.0,...,4.000000,0.0,4.000000,0.0,0.000000,0.000000,0.000000,0.0,0.000000,0.000000
1065,0.0,0.00,0.000000,3.0,0.0,0.0,0.0,0.000000,0.000000,0.0,...,0.000000,0.0,0.000000,0.0,4.500000,0.000000,0.000000,4.5,0.000000,0.000000
1077,0.0,4.00,0.000000,3.0,3.0,0.0,3.5,3.250000,3.000000,3.0,...,0.000000,0.0,0.000000,0.0,3.333333,4.000000,0.000000,4.6,0.000000,0.000000
1080,0.0,4.00,0.000000,0.0,3.0,0.0,4.0,3.000000,0.000000,3.0,...,0.000000,5.0,0.000000,0.0,3.000000,0.000000,0.000000,5.0,0.000000,0.000000
1095,0.0,0.00,0.000000,3.5,4.0,0.0,0.0,3.000000,0.000000,3.0,...,0.000000,0.0,0.000000,5.0,0.000000,0.000000,3.000000,3.0,4.500000,0.000000
1120,0.0,0.00,3.000000,0.0,0.0,0.0,0.0,0.000000,0.000000,0.0,...,0.000000,0.0,0.000000,0.0,3.000000,0.000000,0.000000,3.0,0.000000,0.000000
6969,0.0,0.00,0.000000,0.0,0.0,0.0,0.0,0.000000,0.000000,0.0,...,0.000000,5.0,0.000000,0.0,0.000000,4.000000,0.000000,0.0,0.000000,0.000000
8001,0.0,0.00,0.000000,0.0,0.0,0.0,0.0,0.000000,0.000000,4.5,...,0.000000,0.0,0.000000,0.0,0.000000,0.000000,3.666667,0.0,3.000000,0.000000
9696,3.0,4.00,0.000000,4.0,0.0,0.0,3.0,4.000000,3.000000,3.0,...,0.000000,5.0,0.000000,0.0,0.000000,3.250000,0.000000,0.0,0.000000,0.000000

In [10]:
# sparse and csr matrix

from scipy.sparse import csr_matrix

In [11]:
rating_pivot_matrix = csr_matrix(rating_pivot.values)
print(rating_pivot_matrix)

  (0, 3)	4.0
  (0, 6)	5.0
  (0, 7)	3.0
  (0, 8)	3.0
  (0, 11)	4.0
  (0, 16)	4.0
  (0, 18)	4.25
  (0, 20)	3.0
  (0, 22)	5.0
  (0, 28)	4.0
  (0, 33)	4.0
  (0, 37)	4.0
  (0, 41)	4.25
  (1, 1)	3.5
  (1, 8)	4.666666666666667
  (1, 9)	3.0
  (1, 10)	3.0
  (1, 13)	3.0
  (1, 17)	3.0
  (1, 22)	5.0
  (1, 25)	3.25
  (1, 29)	3.5
  (1, 33)	2.0
  (1, 34)	3.6666666666666665
  (1, 37)	3.3333333333333335
  :	:
  (25, 17)	5.0
  (25, 21)	3.0
  (25, 22)	3.0
  (25, 25)	3.3333333333333335
  (25, 30)	4.333333333333333
  (25, 38)	3.6666666666666665
  (25, 40)	3.0
  (26, 0)	3.0
  (26, 1)	4.0
  (26, 3)	4.0
  (26, 6)	3.0
  (26, 7)	4.0
  (26, 8)	3.0
  (26, 9)	3.0
  (26, 11)	4.0
  (26, 16)	4.0
  (26, 17)	3.4
  (26, 18)	4.0
  (26, 19)	3.0
  (26, 22)	3.0
  (26, 23)	3.0
  (26, 25)	4.333333333333333
  (26, 28)	4.0
  (26, 33)	5.0
  (26, 37)	3.25

In [12]:
# fitting data into NearestNeighbor model

from sklearn.neighbors import NearestNeighbors

model_knn = NearestNeighbors(metric = "cosine", n_neighbors = 20, radius = 1)
model_knn.fit(rating_pivot_matrix)

NearestNeighbors(metric='cosine', n_neighbors=20, radius=1)

In [13]:
# matrix of cosine similarity

from sklearn.metrics.pairwise import cosine_similarity
similarity_matrix = cosine_similarity(rating_pivot)
similarity_matrix

array([[1.        , 0.34481804, 0.33609835, 0.45307418, 0.66588781,
        0.41508482, 0.37222129, 0.39188913, 0.77623954, 0.42303009,
        0.23668506, 0.34270171, 0.51789441, 0.40491548, 0.2962993 ,
        0.09845251, 0.30352758, 0.10696092, 0.21098881, 0.15835598,
        0.43972422, 0.39507832, 0.19065099, 0.        , 0.56647747,
        0.17754288, 0.7351269 ],
       [0.34481804, 1.        , 0.35080221, 0.41221865, 0.24502557,
        0.54218653, 0.24715382, 0.04202322, 0.22597343, 0.26207695,
        0.11910935, 0.30053142, 0.45362555, 0.54466372, 0.31546149,
        0.25233658, 0.16516564, 0.11185922, 0.37405616, 0.        ,
        0.32042446, 0.25854048, 0.24376259, 0.        , 0.4892192 ,
        0.42035471, 0.51714313],
       [0.33609835, 0.35080221, 1.        , 0.49029491, 0.27574146,
        0.35941285, 0.53389146, 0.40623879, 0.34368008, 0.42288594,
        0.14392888, 0.27490441, 0.31820725, 0.19772705, 0.26771578,
        0.34757433, 0.10691904, 0.45699659, 0.36481689, 0.06534421,
        0.41312675, 0.28580108, 0.50622516, 0.        , 0.14498541,
        0.42084675, 0.4246812 ],
       [0.45307418, 0.41221865, 0.49029491, 1.        , 0.52839212,
        0.45342198, 0.35565267, 0.43362643, 0.36976908, 0.39332473,
        0.31033096, 0.42518131, 0.69218123, 0.49291518, 0.55099972,
        0.45950737, 0.26242436, 0.19550097, 0.50250196, 0.        ,
        0.59123959, 0.48590365, 0.42435   , 0.        , 0.22188001,
        0.37423923, 0.5198572 ],
       [0.66588781, 0.24502557, 0.27574146, 0.52839212, 1.        ,
        0.58724749, 0.31657436, 0.2560284 , 0.45367259, 0.35794798,
        0.42671027, 0.328107  , 0.5456728 , 0.42961181, 0.49537895,
        0.40275808, 0.44337668, 0.11814255, 0.52737327, 0.14159415,
        0.43080439, 0.36046023, 0.17303599, 0.09407546, 0.21120564,
        0.11952952, 0.51835278],
       [0.41508482, 0.54218653, 0.35941285, 0.45342198, 0.58724749,
        1.        , 0.44090865, 0.26493601, 0.47603059, 0.52972115,
        0.49728036, 0.25963569, 0.52059161, 0.46061584, 0.63733342,
        0.48665474, 0.52882621, 0.07253673, 0.46383191, 0.17898476,
        0.47973152, 0.49768492, 0.21247999, 0.26714047, 0.24638299,
        0.24080533, 0.39882754],
       [0.37222129, 0.24715382, 0.53389146, 0.35565267, 0.31657436,
        0.44090865, 1.        , 0.61382993, 0.43543939, 0.67342564,
        0.50190561, 0.36947924, 0.32377813, 0.25313894, 0.36206027,
        0.2081477 , 0.12805866, 0.51394573, 0.19135444, 0.42121155,
        0.68821735, 0.58552782, 0.55177562, 0.3146099 , 0.16538226,
        0.30061305, 0.37677596],
       [0.39188913, 0.04202322, 0.40623879, 0.43362643, 0.2560284 ,
        0.26493601, 0.61382993, 1.        , 0.34754848, 0.32537453,
        0.23407724, 0.27534342, 0.31090855, 0.07203119, 0.28771998,
        0.27347638, 0.08165113, 0.36046507, 0.18584148, 0.06237698,
        0.40415413, 0.4764278 , 0.3341574 , 0.        , 0.13181116,
        0.2217191 , 0.42587128],
       [0.77623954, 0.22597343, 0.34368008, 0.36976908, 0.45367259,
        0.47603059, 0.43543939, 0.34754848, 1.        , 0.52273438,
        0.37931281, 0.28698133, 0.49706225, 0.39401494, 0.29163339,
        0.10067341, 0.34444008, 0.13671719, 0.12944899, 0.27180802,
        0.48903539, 0.43501945, 0.29242755, 0.13063945, 0.48393548,
        0.07780624, 0.58428364],
       [0.42303009, 0.26207695, 0.42288594, 0.39332473, 0.35794798,
        0.52972115, 0.67342564, 0.32537453, 0.52273438, 1.        ,
        0.50470399, 0.49070643, 0.3515385 , 0.34638733, 0.39880439,
        0.11422579, 0.31902666, 0.41827452, 0.29287586, 0.60695364,
        0.74958311, 0.66627402, 0.4739905 , 0.52276056, 0.11884882,
        0.23471352, 0.33599212],
       [0.23668506, 0.11910935, 0.14392888, 0.31033096, 0.42671027,
        0.49728036, 0.50190561, 0.23407724, 0.37931281, 0.50470399,
        1.        , 0.42261291, 0.32194266, 0.27725846, 0.44608816,
        0.25077841, 0.42000171, 0.15480173, 0.06107172, 0.47146516,
        0.53116847, 0.57743913, 0.21303913, 0.58243521, 0.07472032,
        0.08809822, 0.23832029],
       [0.34270171, 0.30053142, 0.27490441, 0.42518131, 0.328107  ,
        0.25963569, 0.36947924, 0.27534342, 0.28698133, 0.49070643,
        0.42261291, 1.        , 0.4213997 , 0.22008641, 0.19529764,
        0.08016108, 0.21096922, 0.29936745, 0.32389447, 0.29643564,
        0.617114  , 0.61033004, 0.53849185, 0.25192708, 0.06568177,
        0.19360352, 0.45132947],
       [0.51789441, 0.45362555, 0.31820725, 0.69218123, 0.5456728 ,
        0.52059161, 0.32377813, 0.31090855, 0.49706225, 0.3515385 ,
        0.32194266, 0.4213997 , 1.        , 0.82452114, 0.59759517,
        0.50702592, 0.54229599, 0.22132118, 0.63993454, 0.16803421,
        0.57826349, 0.56517173, 0.19665732, 0.10845251, 0.44740015,
        0.22068983, 0.65111793],
       [0.40491548, 0.54466372, 0.19772705, 0.49291518, 0.42961181,
        0.46061584, 0.25313894, 0.07203119, 0.39401494, 0.34638733,
        0.27725846, 0.22008641, 0.82452114, 1.        , 0.55601431,
        0.32868933, 0.45499379, 0.09738958, 0.5379041 , 0.18023198,
        0.45683901, 0.48856943, 0.11909129, 0.08724389, 0.53210893,
        0.34640477, 0.59733927],
       [0.2962993 , 0.31546149, 0.26771578, 0.55099972, 0.49537895,
        0.63733342, 0.36206027, 0.28771998, 0.29163339, 0.39880439,
        0.44608816, 0.19529764, 0.59759517, 0.55601431, 1.        ,
        0.56550398, 0.55221558, 0.19567443, 0.58935069, 0.15753088,
        0.50254638, 0.5140234 , 0.11721843, 0.19602298, 0.17264857,
        0.39394753, 0.3577832 ],
       [0.09845251, 0.25233658, 0.34757433, 0.45950737, 0.40275808,
        0.48665474, 0.2081477 , 0.27347638, 0.10067341, 0.11422579,
        0.25077841, 0.08016108, 0.50702592, 0.32868933, 0.56550398,
        1.        , 0.30484358, 0.36703427, 0.54662297, 0.        ,
        0.27650361, 0.27217164, 0.07302866, 0.09863939, 0.        ,
        0.09399624, 0.32411246],
       [0.30352758, 0.16516564, 0.10691904, 0.26242436, 0.44337668,
        0.52882621, 0.12805866, 0.08165113, 0.34444008, 0.31902666,
        0.42000171, 0.21096922, 0.54229599, 0.45499379, 0.55221558,
        0.30484358, 1.        , 0.        , 0.37564493, 0.34147687,
        0.34038518, 0.34605939, 0.        , 0.24723881, 0.1554189 ,
        0.13743379, 0.30349484],
       [0.10696092, 0.11185922, 0.45699659, 0.19550097, 0.11814255,
        0.07253673, 0.51394573, 0.36046507, 0.13671719, 0.41827452,
        0.15480173, 0.29936745, 0.22132118, 0.09738958, 0.19567443,
        0.36703427, 0.        , 1.        , 0.30233915, 0.38742139,
        0.44660598, 0.35281563, 0.37190579, 0.22325823, 0.        ,
        0.09219124, 0.34880081],
       [0.21098881, 0.37405616, 0.36481689, 0.50250196, 0.52737327,
        0.46383191, 0.19135444, 0.18584148, 0.12944899, 0.29287586,
        0.06107172, 0.32389447, 0.63993454, 0.5379041 , 0.58935069,
        0.54662297, 0.37564493, 0.30233915, 1.        , 0.09981638,
        0.41560838, 0.39271834, 0.18584873, 0.08807888, 0.12655547,
        0.22382088, 0.34647578],
       [0.15835598, 0.        , 0.06534421, 0.        , 0.14159415,
        0.17898476, 0.42121155, 0.06237698, 0.27180802, 0.60695364,
        0.47146516, 0.29643564, 0.16803421, 0.18023198, 0.15753088,
        0.        , 0.34147687, 0.38742139, 0.09981638, 1.        ,
        0.53985164, 0.5500609 , 0.28579161, 0.82161437, 0.13569315,
        0.1199907 , 0.19496761],
       [0.43972422, 0.32042446, 0.41312675, 0.59123959, 0.43080439,
        0.47973152, 0.68821735, 0.40415413, 0.48903539, 0.74958311,
        0.53116847, 0.617114  , 0.57826349, 0.45683901, 0.50254638,
        0.27650361, 0.34038518, 0.44660598, 0.41560838, 0.53985164,
        1.        , 0.82283139, 0.58099421, 0.42549706, 0.15780256,
        0.35510018, 0.49986757],
       [0.39507832, 0.25854048, 0.28580108, 0.48590365, 0.36046023,
        0.49768492, 0.58552782, 0.4764278 , 0.43501945, 0.66627402,
        0.57743913, 0.61033004, 0.56517173, 0.48856943, 0.5140234 ,
        0.27217164, 0.34605939, 0.35281563, 0.39271834, 0.5500609 ,
        0.82283139, 1.        , 0.4746829 , 0.45753532, 0.30275283,
        0.41878776, 0.5531319 ],
       [0.19065099, 0.24376259, 0.50622516, 0.42435   , 0.17303599,
        0.21247999, 0.55177562, 0.3341574 , 0.29242755, 0.4739905 ,
        0.21303913, 0.53849185, 0.19665732, 0.11909129, 0.11721843,
        0.07302866, 0.        , 0.37190579, 0.18584873, 0.28579161,
        0.58099421, 0.4746829 , 1.        , 0.18509   , 0.07978355,
        0.48993733, 0.34218429],
       [0.        , 0.        , 0.        , 0.        , 0.09407546,
        0.26714047, 0.3146099 , 0.        , 0.13063945, 0.52276056,
        0.58243521, 0.25192708, 0.10845251, 0.08724389, 0.19602298,
        0.09863939, 0.24723881, 0.22325823, 0.08807888, 0.82161437,
        0.42549706, 0.45753532, 0.18509   , 1.        , 0.        ,
        0.        , 0.        ],
       [0.56647747, 0.4892192 , 0.14498541, 0.22188001, 0.21120564,
        0.24638299, 0.16538226, 0.13181116, 0.48393548, 0.11884882,
        0.07472032, 0.06568177, 0.44740015, 0.53210893, 0.17264857,
        0.        , 0.1554189 , 0.        , 0.12655547, 0.13569315,
        0.15780256, 0.30275283, 0.07978355, 0.        , 1.        ,
        0.41076221, 0.65607179],
       [0.17754288, 0.42035471, 0.42084675, 0.37423923, 0.11952952,
        0.24080533, 0.30061305, 0.2217191 , 0.07780624, 0.23471352,
        0.08809822, 0.19360352, 0.22068983, 0.34640477, 0.39394753,
        0.09399624, 0.13743379, 0.09219124, 0.22382088, 0.1199907 ,
        0.35510018, 0.41878776, 0.48993733, 0.        , 0.41076221,
        1.        , 0.34948222],
       [0.7351269 , 0.51714313, 0.4246812 , 0.5198572 , 0.51835278,
        0.39882754, 0.37677596, 0.42587128, 0.58428364, 0.33599212,
        0.23832029, 0.45132947, 0.65111793, 0.59733927, 0.3577832 ,
        0.32411246, 0.30349484, 0.34880081, 0.34647578, 0.19496761,
        0.49986757, 0.5531319 , 0.34218429, 0.        , 0.65607179,
        0.34948222, 1.        ]])

In [14]:
product_Id = int(input("Enter product ID according to dataset: "))
data = list(rating_pivot.index) #shows the productId list inside the data
print(data)

Enter product ID according to dataset: 777
[89, 333, 369, 444, 684, 697, 767, 777, 823, 847, 853, 858, 862, 910, 949, 1002, 1003, 1049, 1060, 1065, 1077, 1080, 1095, 1120, 6969, 8001, 9696]

In [15]:
query_index = data.index(product_Id) # shows index of product id given by user.
print(query_index)

7

In [16]:
similarity, indices = model_knn.kneighbors(rating_pivot.iloc[query_index].values.reshape(1, -1), n_neighbors = 8)
print(similarity) # calculate distance through other productid to the id given by user
print()
print(indices) # print the index of product id given by user

[[0.         0.38617007 0.5235722  0.56637357 0.57412872 0.59376121
  0.59584587 0.60811087]]

[[ 7  6 21  3 26  2 20  0]]

In [17]:

# create dictionary and store the recommendation given by model to the user

data_dict = {}
for i in range(0, len(similarity.flatten())):
    if i == 0:
        print("Recommendation for {} is: \n".format(rating_pivot.index[query_index]))
    else:
        data_dict[str(rating_pivot.index[indices.flatten()[i]])] = float(similarity.flatten()[i])
        print(f"{rating_pivot.index[indices.flatten()[i]]}, is similarity distance = with {similarity.flatten()[i]:.20f}")
print()
print(data_dict)

Recommendation for 777 is:

767, is similarity distance = with 0.38617006952374388629
1080, is similarity distance = with 0.52357220255218694938
444, is similarity distance = with 0.56637356650542436398
9696, is similarity distance = with 0.57412872258472391618
369, is similarity distance = with 0.59376121029888251357
1077, is similarity distance = with 0.59584586854940713163
89, is similarity distance = with 0.60811087118048101630

{'767': 0.3861700695237439, '1080': 0.523572202552187, '444': 0.5663735665054244, '9696': 0.5741287225847239, '369': 0.5937612102988825, '1077': 0.5958458685494071, '89': 0.608110871180481}