In [3]:
from sklearn.feature_extraction.text import TfidfVectorizer
sentences=['what is your name','where do you live','do you live in surat','what is your latname']

In [17]:
vectors=TfidfVectorizer()
vectors.fit(sentences)
transform=vectors.transform(sentences)
print(transform)
print(vectors.vocabulary_)
transform.shape

  (0, 10)	0.4658085493691629
  (0, 7)	0.4658085493691629
  (0, 5)	0.5908190806023349
  (0, 2)	0.4658085493691629
  (1, 9)	0.4658085493691629
  (1, 8)	0.5908190806023349
  (1, 4)	0.4658085493691629
  (1, 0)	0.4658085493691629
  (2, 9)	0.401042746469996
  (2, 6)	0.5086718718935652
  (2, 4)	0.401042746469996
  (2, 1)	0.5086718718935652
  (2, 0)	0.401042746469996
  (3, 10)	0.4658085493691629
  (3, 7)	0.4658085493691629
  (3, 3)	0.5908190806023349
  (3, 2)	0.4658085493691629
{'what': 7, 'is': 2, 'your': 10, 'name': 5, 'where': 8, 'do': 0, 'you': 9, 'live': 4, 'in': 1, 'surat': 6, 'latname': 3}

(4, 11)

In [18]:
import pandas as pd
d={'name':['a','b','c'],'id':[1,2,3]}
a=pd.DataFrame(d)
a

  name  id
0    a   1
1    b   2
2    c   3

In [12]:
import pandas as pd
d=[1,2,3,4,5]
g=[6,7,8,9,10]
a=pd.Series(d)
b=pd.Series(g)
a+b

0     7
1     9
2    11
3    13
4    15
dtype: int64

In [19]:
df=pd.DataFrame(vectors.fit_transform(sentences).toarray(),columns=vectors.get_feature_names())
df

,do,in,is,latname,live,name,surat,what,where,you,your
0,0.000000,0.000000,0.465809,0.000000,0.000000,0.590819,0.000000,0.465809,0.000000,0.000000,0.465809
1,0.465809,0.000000,0.000000,0.000000,0.465809,0.000000,0.000000,0.000000,0.590819,0.465809,0.000000
2,0.401043,0.508672,0.000000,0.000000,0.401043,0.000000,0.508672,0.000000,0.000000,0.401043,0.000000
3,0.000000,0.000000,0.465809,0.590819,0.000000,0.000000,0.000000,0.465809,0.000000,0.000000,0.465809

In [36]:
vectors=TfidfVectorizer(binary=True,min_df=2,max_df=3)
vectors.fit(sentences)
transform=vectors.transform(sentences)
print(transform)
print(vectors.vocabulary_)
df=pd.DataFrame(vectors.fit_transform(sentences).toarray(),columns=vectors.get_feature_names())
df

  (0, 5)	0.5773502691896257
  (0, 3)	0.5773502691896257
  (0, 1)	0.5773502691896257
  (1, 4)	0.5773502691896257
  (1, 2)	0.5773502691896257
  (1, 0)	0.5773502691896257
  (2, 4)	0.5773502691896257
  (2, 2)	0.5773502691896257
  (2, 0)	0.5773502691896257
  (3, 5)	0.5773502691896257
  (3, 3)	0.5773502691896257
  (3, 1)	0.5773502691896257
{'what': 3, 'is': 1, 'your': 5, 'do': 0, 'you': 4, 'live': 2}

        do       is     live     what      you     your
0  0.00000  0.57735  0.00000  0.57735  0.00000  0.57735
1  0.57735  0.00000  0.57735  0.00000  0.57735  0.00000
2  0.57735  0.00000  0.57735  0.00000  0.57735  0.00000
3  0.00000  0.57735  0.00000  0.57735  0.00000  0.57735