In [1]:
from sklearn.feature_extraction.text import TfidfVectorizer

sentences = ["Sahil Parmar", "BrainyBeam Technologies", "Python with Data Science"]

In [5]:
vector = TfidfVectorizer()
vector.fit(sentences)
transform = vector.transform(sentences)
print(transform)

  (0, 4)	0.7071067811865476
  (0, 2)	0.7071067811865476
  (1, 6)	0.7071067811865476
  (1, 0)	0.7071067811865476
  (2, 7)	0.5
  (2, 5)	0.5
  (2, 3)	0.5
  (2, 1)	0.5

In [6]:
print(vector.vocabulary_)

{'sahil': 4, 'parmar': 2, 'brainybeam': 0, 'technologies': 6, 'python': 3, 'with': 7, 'data': 1, 'science': 5}

In [7]:
transform.shape

(3, 8)

In [12]:
import pandas as pd

df=pd.DataFrame(vector.fit_transform(sentences).toarray(),columns=vector.get_feature_names())
df

   brainybeam  data    parmar  python     sahil  science  technologies  with
0    0.000000   0.0  0.707107     0.0  0.707107      0.0      0.000000   0.0
1    0.707107   0.0  0.000000     0.0  0.000000      0.0      0.707107   0.0
2    0.000000   0.5  0.000000     0.5  0.000000      0.5      0.000000   0.5